# Dependencies
node_modules/

# Build artifacts
dist/
dist-cli/

# Testing & Coverage
coverage/
*.lcov

# Environment and local configurations
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
